In [1]:
import requests 
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
import re
import time

import os
from urllib.parse import urlparse

In [3]:
from urllib.request import urlopen
from lxml import html

In [282]:
url = 'https://www.fotmob.com/leagues/87/table/laliga'
html = urlopen(url)
soup = bs(html, 'lxml')
Pt = soup.find_all('span')

In [283]:
span = []
for name in Pt:
    span.append(name.get_text().strip())

In [284]:
span=span[11:]
span=span[:-10]

In [285]:
primero= span[:9]
segundo = span[9:18]
tercero= span[18:27]
cuarto = span[27:36]
quinto = span[36:45]
sexto = span[45:54]
septimo = span[54:63]
octavo = span[63:72] 
noveno = span[72:81]
decimo = span[81:90]
undecimo= span[90:99]
duodecimo = span[99:108]
decimotercero= span[108:117]
decimocuarto= span[117:126]
decimoquinto= span[126:135]
decimosexto= span[135:144]
decimoseptimo= span[144:153]
decimoctavo= span[153:162]
decimonoveno= span[162:171]
vigesimo= span[171:180]

In [286]:
primero = primero[1:9]
segundo = segundo[1:9]
tercero= tercero[1:9]
cuarto = cuarto[1:9]
quinto = quinto[1:9]
sexto = sexto[1:9]
septimo = septimo[1:9]
octavo = octavo[1:9] 
noveno = noveno[1:9]
decimo = decimo[1:9]
undecimo= undecimo[1:9]
duodecimo = duodecimo[1:9]
decimotercero= decimotercero[1:9]
decimocuarto= decimocuarto[1:9]
decimoquinto= decimoquinto[1:9]
decimosexto= decimosexto[1:9]
decimoseptimo= decimoseptimo[1:9]
decimoctavo= decimoctavo[1:9]
decimonoveno= decimonoveno[1:9]
vigesimo= vigesimo[1:9]

In [287]:
df= pd.DataFrame([primero,segundo, tercero, cuarto, quinto, sexto, septimo, octavo, noveno, 
                 decimo, undecimo, duodecimo, decimotercero, decimocuarto, decimoquinto, decimosexto, decimoseptimo,
                 decimoctavo, decimonoveno, vigesimo]).reset_index()

In [288]:
df= df.drop("index", axis=1)

In [289]:
df.rename(columns= {0:"Equipos",1:"PL",2:"W",3:"D",4:"L",5:"+/-",6:"GD",7:"Pts"},inplace=True)

In [290]:
df

             Equipos  PL   W  D  L    +/-   GD Pts
0    Atletico Madrid  15  12  2  1   29-6   23  38
1        Real Madrid  17  11  3  3  30-15   15  36
2          Barcelona  17   9  4  4  33-17   16  31
3      Real Sociedad  18   8  6  4  27-13   14  30
4         Villarreal  17   7  8  2  22-17    5  29
5            Sevilla  15   8  3  4  18-11    7  27
6            Granada  16   7  3  6  19-25   -6  24
7         Celta Vigo  17   6  5  6  22-24   -2  23
8      Athletic Club  18   6  3  9  21-22   -1  21
9              Cadiz  17   5  5  7  12-21   -9  20
10        Real Betis  17   6  2  9  20-31  -11  20
11             Eibar  17   4  7  6  14-16   -2  19
12           Levante  16   4  6  6  21-23   -2  18
13  Deportivo Alaves  17   4  6  7  15-20   -5  18
14   Real Valladolid  17   4  6  7  16-24   -8  18
15            Getafe  16   4  5  7  12-17   -5  17
16          Valencia  17   3  7  7  23-25   -2  16
17             Elche  15   3  7  5  13-18   -5  16
18           Osasuna  16   3  5  8  15-25  -10  14
19         SD Huesca  17   1  9  7  14-26  -12  12